body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
b{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 140%;
    font-weight: bolder;
    color: royalblue;
    text-shadow: 2px 2px black;
}
.caixa{
    background-color: royalblue;
    box-shadow: black 4px 10px 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}
header{
    background-color: rgb(0, 199, 199);
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
a:hover{
    transition: 0.4s;
    color: red;
    font-size: 145%;
}
span{
    font-weight: bolder;
    text-shadow: 1px 1px white;
}
article{
    font-size: 120%;
    text-align: start;
}
h1{
    font-weight: bold;
    text-shadow: 1px 1px white;
}
h2{
    font-weight: bold;
    text-shadow: 1px 1px white;
}
p{
    text-align: center;
    font-size: 120%;
}
h3{
    text-align: start;
    font-weight: bolder;
    text-shadow: 1px 1px white;
    font-size: 140%;
}
img{
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}